.footer {
	margin-top: 50px;
	background: black;
	color: white;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer__lista__redes {
	margin-bottom: 10px;
	width: 30%;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

.footer__lista__redes i {
	cursor: pointer;
}

.footer__lista__redes i:hover {
	color: antiquewhite;
	text-shadow: 0 0 4px green;
}

.footer__lista__texto {
	text-align: center;
}