.header__navegacao {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.header__navegacao__lista-links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40%;
}

.header__navegacao__hero img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 400px;
}